# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	在手术室中将你的眼换成蜘蛛眼将使你获得永久夜视！
	动态光源可被开启或关闭。检查你的热键以获得更多信息。
	水瓶不会浪费水源，因此，使用水瓶将炼药锅/水槽装满，然后用水桶将其取出，就可以无限取水，而无需使用冰或河。 
	海绵作为匠魂材料能在早期游戏为你提供精准采集。
	怪物不会在空岛上自然生成，你只能通过召唤来生成它们。
	如果你准备使用语音聊天的话，请确保按键说话别和连锁挖矿绑定到一个按钮上。
	在虚空等待着你的只有死亡，别妄想你能从天上掉回来。
	偶尔吃点食物不仅可以避免死亡且能获得正面效果。
	血魔法附属 Animus 模组的邪术意志仪式能保持几个区块免受咒波污染，并提供恶魔意志!
	蜡烛是前期很不错的光源。
	你知道这包有格雷吗？别去贴吧里乱说。
	初始岛一部分由陶土组成。
	Soaryn 曾经玩过这个包！
	您可以将空间站始终倒换为夜间。对星体法术也有效！
	在早期建造一个格雷筛选器以更好的处理宝石。
	只有在河流和海洋类的生物群系才有无限水。
	早期的游戏传送带还可以输送液体。
	乡村模组的蜂房不仅为你提供蜂巢，而且还能促进作物生长。
	在早期你可以使用便宜的石桶储存流体。
	如果你在初始岛中找不到基岩，试着跳下去然后抬头看。
	血魔法附属的拆解仪式能拆分和复制附魔。
	纳耳狂曼喷口几乎在所有地方都能收集几十万桶的石油。
	血魔法附属的剔除仪式能通过消耗两万五千点LP，在满破坏意志的区块杀死凋零，比任何其他模组的机器都要好用。
	创造模式发电机是唯一的GP来源。
	基岩尘是基岩粉不错的来源，而且还能用于刷怪。
	非攻座效应能模拟玩家杀死生物，其抢夺等级取决于所提供的星能，最高能达到抢夺V。
	数字化苦难之井能通过消耗EU持续生产LP，但缺点是十分缓慢。使用仪式以更快的生产LP。
	星辉魔法的披风能完美防御混沌守卫的伤害。
	CEU有内部的电池槽位，不需要额外的电池箱。
	你在游戏早期就可以通过格雷的空气收集器快速生产空气用于离心。
	一般而言，将组装机升级到你所能做的最高等级是值得的。
	树场种植门瑞欧树是不错的选择，离心它后会得到有用的副产物。
	在EV时期你会需要多方块结构的涡轮来发电。
	血魔法飞行药水能让你在LV时期就能飞行。
	随着你慢慢发展，怪物会变得更加多样和致命。
	一旦到达太空，一些怪物可能会开始忽略光照条件的生成规则，请做好准备！
	本包没有蜡笔，因为它们在开发的时候就被吃掉了。
	这个提示用于提醒你不要被那种无关紧要的事所干扰，比如说收集鹦鹉。
	末影鸡只能在Aurellia行星上被召唤。
	植物学渔场和星辉魔法南极座效应是鱼的不错的来源！
	还有很多事情等着你做，不要干等物品处理。
	你需要一个工件才能飞往Euclydes和Aurellia行星。
	尽管存在生物柴油和木炭等可再生能源，但非可再生能源的价值要高得多，并且可以通过加工获得成倍增长。
	植物魔法神秘花瓣是生物质的最佳来源。
	含铅油漆芯片虽然美味，但是并没有任何营养价值。
	可以使用油菜和星能液为石油充能。
	你不需要通过卫星发现行星，但你需要工件来飞往行星上。
	在家里弄一个虚御座效应是让你获得创造飞行不错的方式。
	星辉魔法的星图不能在神殿里找到，你需要合成它们。
	把所有你发现的矿脉标记下来，或许之后你会用得上。
	用钠做电池，直到你能获得锂为止。
	血魔法坠星标位仪式只接受星辉矿石和焦黑石英块作为其催化剂。
	升级你的怪物数据模型以更好的模拟杀怪。
	Deep Mob Learning模组是你获得怪物资源的主要方法。
	地牢的箱子偶尔会有Modular Machinery模组的机器蓝图，其中一些机器十分强大且能为你简化工序。
	在太空上穿着太空服能使你避免因缺氧而死亡。
	就格雷机器而言，超频一个配方会使它的处理时间减半，但消耗功率变为四倍，总耗电量变为两倍。
	格雷科技多方块结构对于输入输出仓口的放置可谓十分灵活，尝试各种有效的结构，可以简化自动化。
	第六级血魔法被整合包制作者重新实现了。不论出于何种意图与目的，它都不存在于原版mod。请不要因为它打扰mod作者。 
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=80
}
