@import "~bulma/sass/utilities/_all";

$primary: $turquoise;
$link: $primary;
$button-hover-color: $grey-darker;
$link-hover: $white;
$modal-background-background-color: rgba($black, 0.6);

@import "~bulma";
@import "~buefy/src/scss/buefy";

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	font-family: "Microsoft YaHei", serif;
}

.md {
	line-height: 2;
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		font-size: 1.5rem;
	}
	ul, ol {
		list-style-position: inside;
	}
}

code {
	border-radius: 2px;
	padding: 0.2em 0.25em;
}
